<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <div class="header__logo">
                <a href="/">Mẹ & Bé Yêu</a>
            </div>
            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Trang Chủ</a>
                    </li>
                    <li class="nav__item">
                        <a href="products.html" class="nav__link">Sản Phẩm</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Khuyến Mãi</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Liên Hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="header__user-actions">
                <a href="#" class="header__action-link">Đăng Nhập</a>
                <a
                    href="#"
                    class="header__action-link header__action-link--cart"
                    >🛒 (0)</a
                >
            </div>
        </header>
        <main class="main-content">
            <section class="product-list">
                <h2 class="product-list__heading">
                    🛒 Tất Cả Sản Phẩm Mẹ & Bé
                </h2>

                <div class="filter-bar">
                    <select class="filter-bar__select">
                        <option>Sắp xếp theo Giá</option>
                        <option>Giá tăng dần</option>
                        <option>Giá giảm dần</option>
                    </select>
                    <select class="filter-bar__select">
                        <option>Chọn Danh mục</option>
                        <option>Bình Sữa</option>
                        <option>Tã/Bỉm</option>
                        <option>Đồ Chơi</option>
                    </select>
                </div>
                <div class="product-list__container"></div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer__content">
                <p class="footer__copyright">
                    &copy; 2025 Mẹ & Bé Yêu. Bảo lưu mọi quyền.
                </p>
                <div class="footer__social-links">
                    <a href="#" class="footer__social-link">Facebook</a>
                    <a href="#" class="footer__social-link">Instagram</a>
                </div>
            </div>
        </footer>
    </body>
</html>
